body
{
    background: #f0f0f0;
}

/* Font-uri */
/*#region*/
    @font-face {font-family: NotoSerif-Regular; src: url("fonts/Noto_Serif/NotoSerif-Regular.ttf");}
    @font-face {font-family: Roboto-Regular; src: url(fonts/Roboto/Roboto-Regular.ttf);}
/*#endregion*/

/* Elemente default */
/*#region*/
    p
    {
        font-family: NotoSerif-Regular;
    }

    h1
    {
        font-family: NotoSerif-Regular;
    }

    li
    {
        font-family: NotoSerif-Regular;
    }

    a
    {
        color: #339933;
    }

    a:hover
    {
        color: #f60;
    }

    button
    {
        font-family: NotoSerif-Regular;
    }
/*#endregion*/

/* Foloseste pe un div ce include o imagine pt. a o centra */
.imgcenter
{
    text-align: center;
}

/* Zona titlu*/
/*#region*/
    #pagetitle
    {
        font-family: NotoSerif-Regular;
        color: #8c0404;
        text-align: center;
        margin: 0;
        padding-top: 10px;
    }

    #pagesubtitle
    {
        font-family: NotoSerif-Regular;
        color: black;
        text-align: center;
        margin: 0;
        padding-top: 0;
    }
/*#endregion*/

/* Bara de navigatie */
/*#region*/
    /* Bara orizontala (desktop)*/
    /*#region*/
        #H-navbar-table
        {
            width: 100%;
            table-layout: fixed;
            padding-top: 10px;
            padding-bottom: 10px;

            background-color: #8c0404;
        }

        .H-navbar-td
        {
            text-align: center;
        }

        .H-navbar-a
        {
            color: white;
            text-decoration: none;
            font-family: Roboto-Regular;
            position: relative;
        }

        .H-navbar-a:hover
        {
            color: white;
        }

        .H-navbar-a::after
        {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: white;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
        
        .H-navbar-a:hover::after
        {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    /*#endregion*/

    /* Bara verticala (mobil) */
    /*#region*/
        #S-navbar-table
        {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;

            background-color: #8c0404;
        }

        .S-navbar-td
        {
            padding: 5px;
        }
    /*#endregion*/
/*#endregion*/

#githublink
{
    text-align: center;
}

#LBportretcolt
{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#LBsemnaturajos
{
    width: 139px;
    height: 33px;
}

#contentdiv
{
    background: #fff;
    margin: auto;
    padding: 30px;
}

/* Daca latimea ecranului dispozitivului este mai mare de 1300px, aplica urmatoarele: */
@media (min-width: 1300px)
{
    #contentdiv
    {
        width: 1300px;
    }

    #S-navbar-table
    {
        display: none;
    }
}

/* Daca latimea ecranului dispozitivului este mai mica de 1300px, aplica urmatoarele: */
@media (max-width: 1300px)
{
    #LBportretcolt
    {
        /* Pe ecrane mici, portretul de colt intra peste continut. */
        display: none;
    }

    #H-navbar-table
    {
        display: none;
    }
}

/* Foloseste pe tag-uri <a> pentru a scoate sublinierea. */
.removeunderlinefromlink
{
    text-decoration: none;
}